@keyframes apparition {
  from {
    opacity: 0.4;
  }
}

@keyframes chargement {
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: scale(0);
  }
}

@font-face {
  font-family: shrikhand;
  src: url(../shrikhand/Shrikhand-Regular.otf);
}

@font-face {
  font-family: roboto-regular;
  src: url(../roboto/Roboto-Regular.ttf);
}

button {
  color: white;
  padding: 10px;
  width: 50%;
  border-radius: 30px;
  border: none;
  background: radial-gradient(ellipse at top left, #ff79da, #9356dc);
}

button:hover {
  filter: brightness(1.05);
  box-shadow: 5px 5px 5px #353535;
  cursor: pointer;
}

.choix__description__coeurs {
  width: 30px;
  height: 30px;
  position: relative;
}

.choix__description__coeurs .coeur-plein {
  position: absolute;
  font-size: 30px;
  color: #9356dc;
}

.choix__description__coeurs .coeur-vide {
  position: absolute;
  font-size: 30px;
  background-color: white;
}

.choix__description__coeurs .coeur-vide:hover {
  display: none;
}

img {
  width: 100%;
}

.loadingSpinner {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid #eaeaea;
  border-top-color: #9356dc;
  border-bottom-color: #ff79da;
  animation: chargement 3s forwards;
  border-radius: 50%;
}

h1 {
  font-weight: bold;
}

body {
  margin: 0;
  width: 100%;
  font-family: roboto-regular;
  animation: apparition 5s;
}

.entete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 150px;
  box-shadow: 0 5px 5px #cfcfcf;
  position: relative;
}

@media screen and (max-width: 599px) {
  .entete {
    height: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
  }
  .entete__logo {
    transform: scale(0.5);
  }
}

.footer {
  display: flex;
  background-color: #353535;
  padding: 40px;
}

.footer__logo {
  filter: invert(1);
  flex: 0.4;
  transform: scale(0.5);
}

.footer__div {
  flex: 0.6;
  display: flex;
}

.footer__menuDinteraction {
  display: flex;
  flex: 2;
  margin: auto;
  padding-left: 0px;
}

.footer__menuDinteraction li {
  width: 25%;
  text-align: end;
  list-style-type: none;
  filter: invert(1);
}

.footer__menuDinteraction li i {
  margin-right: 10px;
}

.footer a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 800px) {
  .footer__menuDinteraction {
    flex-direction: column;
  }
  .footer__menuDinteraction li {
    width: inherit;
  }
}

@media screen and (max-width: 599px) {
  .footer {
    padding: 20px;
    flex-direction: column;
  }
  .footer__logo {
    transform: scale(0.4);
    transform-origin: left;
  }
  .footer__div {
    flex: inherit;
  }
  .footer__menuDinteraction {
    flex-direction: column;
    flex: inherit;
    width: 90%;
    margin-left: 0px;
  }
  .footer__menuDinteraction li {
    width: inherit;
    margin-bottom: 20px;
    text-align: inherit;
  }
}

.blocAccueil {
  width: 100%;
  text-align: center;
  display: flex;
}

.blocAccueil__localisation {
  flex: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
  background-color: #eaeaea;
}

.blocAccueil__presentation {
  flex: 0.6;
  background-color: #f6f6f6;
  padding: 50px;
}

.blocAccueil__presentation p {
  margin-top: 0px;
}

@media screen and (max-width: 800px) {
  .blocAccueil {
    height: 200px;
  }
  .blocAccueil__presentation {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
  }
}

@media screen and (max-width: 599px) {
  .blocAccueil {
    height: inherit;
    flex-direction: column;
  }
  .blocAccueil__presentation {
    padding-bottom: 30px;
  }
}

.choix {
  position: relative;
}

.choix a {
  text-decoration: none;
  color: black;
}

.choix a h2 {
  margin-top: 0px;
}

.choix--nouveau {
  background-color: #99E2D0;
  color: #1b6150;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  z-index: 2;
}

.choix__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.choix__description p {
  margin: 0px;
  margin-top: 5px;
}

.choix__description h2 {
  font-size: 1.2em;
  margin: 0px;
}

.listeRestaurants {
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
}

.listeRestaurants__titre {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.listeRestaurants__choix {
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 20px 20px #eaeaea;
}

.listeRestaurants__choix img {
  height: 200px;
  object-fit: cover;
  object-position: center 60%;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .listeRestaurants__choix {
    width: 40%;
  }
}

@media screen and (max-width: 599px) {
  .listeRestaurants {
    flex-direction: column;
  }
  .listeRestaurants__choix {
    width: 90%;
  }
}

.blocFonctionnement {
  margin-top: 40px;
  margin-bottom: 40px;
}

.blocFonctionnement__titre {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.blocFonctionnement__notice {
  display: flex;
  width: 90%;
  margin: auto;
  padding-left: 0px;
  list-style-type: none;
}

.blocFonctionnement__notice li {
  display: flex;
  font-weight: bold;
  padding: 20px;
  padding-right: 10px;
  width: 33%;
  margin: 20px;
  background-color: #f6f6f6;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #eaeaea;
  position: relative;
}

.blocFonctionnement i {
  width: 20px;
  margin-right: 20px;
  color: #7e7e7e;
}

.puces__numero {
  position: absolute;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  margin-right: 20px;
}

@media screen and (max-width: 599px) {
  .blocFonctionnement ul {
    display: inherit;
  }
  .blocFonctionnement__notice li {
    margin: auto;
    margin-bottom: 30px;
    width: inherit;
  }
}
