@keyframes apparition {
  from {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  to {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}

.partieMenu--1 {
  animation: apparition 1s;
  animation-delay: 500ms;
}

.partieMenu--2 {
  animation: apparition 1s;
  animation-delay: 1000ms;
}

.partieMenu--3 {
  animation: apparition 1s;
  animation-delay: 1500ms;
}

@font-face {
  font-family: shrikhand;
  src: url(../shrikhand/Shrikhand-Regular.otf);
}

@font-face {
  font-family: roboto-regular;
  src: url(../roboto/Roboto-Regular.ttf);
}

button {
  color: white;
  padding: 10px;
  width: 50%;
  border-radius: 30px;
  border: none;
  background: radial-gradient(ellipse at top left, #ff79da, #9356dc);
}

button:hover {
  filter: brightness(1.05);
  box-shadow: 5px 5px 5px #353535;
  cursor: pointer;
}

.coeur-plein {
  position: absolute;
  font-size: 20px;
  color: #9356dc;
  z-index: -1;
}

.coeur-vide {
  position: absolute;
  font-size: 20px;
}

.coeur-vide:hover {
  cursor: pointer;
  z-index: -1;
}

.coeur-vide:hover + .coeur-plein {
  cursor: pointer;
  z-index: inherit;
}

body {
  width: 100%;
  margin: 0px;
  font-family: roboto-regular;
}

.entete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.entete__flecheRetour {
  position: absolute;
  left: 0;
  font-size: 40px;
  margin-left: 20px;
  color: black;
}

@media screen and (max-width: 800px) {
  .entete {
    height: 75px;
  }
  .entete__flecheRetour {
    font-size: 20px;
  }
  .entete__logo {
    transform: scale(0.5);
  }
}

.footer {
  display: flex;
  background-color: #353535;
  padding: 40px;
}

.footer__logo {
  filter: invert(1);
  flex: 0.4;
  transform: scale(0.5);
}

.footer__div {
  flex: 0.6;
  display: flex;
}

.footer__menuDinteraction {
  display: flex;
  flex: 2;
  margin: auto;
  padding-left: 0px;
}

.footer__menuDinteraction li {
  width: 25%;
  text-align: end;
  list-style-type: none;
  filter: invert(1);
}

.footer__menuDinteraction li i {
  margin-right: 10px;
}

.footer a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 800px) {
  .footer__menuDinteraction {
    flex-direction: column;
  }
  .footer__menuDinteraction li {
    width: inherit;
  }
}

@media screen and (max-width: 599px) {
  .footer {
    padding: 20px;
    flex-direction: column;
  }
  .footer__logo {
    transform: scale(0.4);
    transform-origin: left;
  }
  .footer__div {
    flex: inherit;
  }
  .footer__menuDinteraction {
    flex-direction: column;
    flex: inherit;
    width: 90%;
    margin-left: 0px;
  }
  .footer__menuDinteraction li {
    width: inherit;
    margin-bottom: 20px;
    text-align: inherit;
  }
}

.choix {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px;
  height: 80px;
  border-radius: 20px;
  overflow: hidden;
}

.choix__texte {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px;
  flex: 1;
}

.choix__titre {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
}

.choix__detail {
  margin-top: 8px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.choix__prix {
  font-weight: bold;
  margin-bottom: 16px;
  margin-right: 16px;
}

.choix__check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 100%;
  transition: all 500ms;
  color: white;
  background-color: #99E2D0;
}

.choix__check .fa-check-circle {
  transition: transform 500ms;
}

.choix:hover {
  cursor: pointer;
}

.choix:hover .choix__check {
  width: 70px;
  transform: scaleX(1);
}

.choix:hover .fa-check-circle {
  transform: rotate(1turn);
}

.detailMenu {
  margin-top: -10%;
  border-radius: 20px 20px 0 0;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}

.detailMenu__entete {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 40%;
  margin: auto;
  font-family: shrikhand;
}

.detailMenu__coeurs {
  width: 30px;
  height: 30px;
}

.detailMenu__titre {
  color: #7b7b7b;
  margin-left: 20px;
  text-transform: uppercase;
}

.detailMenu__titre h2 {
  margin: 0px;
}

.detailMenu--trait {
  border: 3px solid #99E2D0;
  width: 50px;
  margin-top: 5px;
}

.detailMenu__entrees {
  width: 33%;
}

.detailMenu__plats {
  width: 33%;
}

.detailMenu__desserts {
  width: 33%;
}

@media screen and (max-width: 800px) {
  .detailMenu__entete {
    width: inherit;
  }
}

@media screen and (max-width: 599px) {
  .detailMenu__entete {
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  .detailMenu__titrePrincipal {
    margin-left: 0;
  }
  .detailMenu__entrees {
    margin-bottom: 40px;
    width: inherit;
  }
  .detailMenu__plats {
    margin-bottom: 40px;
    width: inherit;
  }
  .detailMenu__desserts {
    margin-bottom: 40px;
    width: inherit;
  }
}

.boutonCommander {
  text-align: center;
}

@media screen and (max-width: 800px) {
  button {
    width: 40%;
  }
}

@media screen and (max-width: 599px) {
  button {
    width: 50%;
  }
}

.menuBigScreen {
  display: flex;
}

@media screen and (max-width: 599px) {
  .menuBigScreen {
    display: inherit;
  }
}

.photoMenu {
  height: 600px;
  object-fit: cover;
  object-position: center 60%;
  position: relative;
  z-index: -1;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .photoMenu {
    height: 400px;
  }
}

@media screen and (max-width: 599px) {
  .photoMenu {
    height: 200px;
  }
}
