button{
	color: white;
	background-color: $color-secondary;
	padding: 10px;
	width: 50%;
	border-radius: 30px;
	border: none;
	background: radial-gradient(ellipse at top left, $color-secondary, $color-primary);
	& a{
		color: white;
		text-decoration: none;
	}
}

.choix__coeurs{
	width: 30px;
	height: 30px;
	position: relative;
	& i.plein{
		position: absolute;
		font-size: 30px;
		color: $color-primary;
	}
	& i.vide{
		position: absolute;
		font-size: 30px;
		background-color: white;
		&:hover{
			display: none;
		}
	}
}

.choix{
	&__description{
		&__coeurs{
			width: 30px;
			height: 30px;
			position: relative;
			& i.plein{
				position: absolute;
				font-size: 30px;
				color: $color-primary;
			}
			& i.vide{
				position: absolute;
				font-size: 30px;
				background-color: white;
				&:hover{
					display: none;
				}
			}
		}
	}
}