.loadingSpinner{
	opacity: 1;
	position: absolute;
	width: 100px;
	height: 100px;
	z-index: 2;
	margin-left: -50px;
	margin-right: -50px;
	top: 50%;
	left: 50%;
	border: 2px solid $color-bg-darkest;
	border-top-color: $color-primary;
	border-bottom-color: $color-secondary;
	animation: chargement 3s forwards;
	border-radius: 50%;
}