.loadingSpinner{
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100px;
	height: 100px;
	border: 2px solid $color-bg-darkest;
	border-top-color: $color-primary;
	border-bottom-color: $color-secondary;
	animation: chargement 3s forwards;
	border-radius: 50%;
}