$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99E2D0;
$bg-color-sombre: #eaeaea;
$bg-color-clair: #f6f6f6;

@mixin ombre{
	box-shadow: 10px 10px 10px #eaeaea;
}

@mixin centrageDisplay{
	display: flex;
	justify-content: center;
	align-items: center;
}